body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 24px;
  background: #fcfcfc;
  line-height: 1.45em;
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}
body, html {
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
    }

    #grid, #pager {
        position: fixed;
        width: 100%;
    }

    #grid {
        bottom: 0;
        height: 300px;
    }

    #pager {
        bottom: 306px;
        height: 20px;
    }

    .slick-row:hover {
        font-weight: bold;
        color: #069;
    }