body {
    background-color: #26292E;
    font-family: 'droid_sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    width:1024px;
}

text {
  fill: white;
}



.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Document styling */

#filter {
   position: relative;
   float: left;
   top: 20px;
}


#title {
  font-size: 24px;
  font-weight: 100;
  color: white;
}
#title div.large, #title span.large {
  font-size: 36px;
}

footer {
  color: #777;
}

#desc {
      position: relative;
      z-index:-999;
      /*left: 380px;*/
      }

button {
    background: none repeat scroll 0 0 #3C3F45;
    color: #a3a3a3;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    padding: 5px 40px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

button:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}


/* data table styles */
#grid { height: 400px; color:white; clear: both; position:relative; top: 60px; left: 15px }
.row, .header { clear: left; font-size: 14px; line-height: 18px; height: 20px; margin: 5px; width:1120px }
.row:hover {text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;}
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 120px; height: 22px; }
.col-0 { width: 280px; }
