body {
    background-color: #26292E;
    font-family: 'droid_sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    width:1024px;
}

text {
  fill: white;
}

.parcoords {
  background-color: #26292e;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Document styling */

#filter {
   position: relative;
   float: left;
   width: 100vw;
   height: 50vh;
}

#pager {
   position: relative;
   float: left;
   width: 95vw;
   height: 30px;
   color: white;
}

.slick-pager {
   border: 0px solid gray;
   background: #26292e;
}

.ui-state-default .ui-icon {
	background-image: url("lib/slickgrid/css/smoothness/images/ui-icons_222222_256x240.png");
}

#grid {
   position: relative;
   width: 95vw;
   height: 30vh;
}

#title {
  font-size: 24px;
  font-weight: 100;
  color: white;
}
#title div.large, #title span.large {
  font-size: 36px;
}

footer {
  color: #777;
}

#desc {
      float: left;
      }

#buttons {
      float: right;
      align: center;
      }

button {
    background: none repeat scroll 0 0 #3C3F45;
    color: #a3a3a3;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0px;
    padding: 5px 40px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

button:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}


.slick-headerrow {
  background: #26292E;
}

.slick-row.ui-state-active {
  background: #46494E;
}

.slick-row {
  background: #26292E;
}

.slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.slick-cell {
  color: white;
}

.ui-widget-content a {
    color: #fff;
}