body {
    background-color: #26292E;
    font-family: 'droid_sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    width: 100vw;
}

text {
  fill: white;
}

.parcoords {
  background-color: #26292e;
}

.axis text.label {
   font-size: 16px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Document styling */

#filter {
   width: 95vw;
   height: 50vh;
   overflow: hidden;
   overflow-y: scroll;
}

#grid-container {
   position: relative;
   width: 95vw;
   height: 50vh;
   overflow: hidden;
   overflow-y: scroll;
}

#pager {
   height: 5vh;
   color: white;
}

.slick-pager {
   border: 0px solid gray;
   background: #26292e;
}

.ui-state-default .ui-icon {
	background-image: url("lib/slickgrid/css/smoothness/images/ui-icons_222222_256x240.png");
}

#grid {
   position: relative;
   height: 30vh;
   width: 100%;
   color: white;
   bottom: 0;
}

.rsh {
    height: 1vh;
    background-color: grey;
}

#container {
    position: relative;
    height: 95vh;
    margin-top: 2vh;
}

#onl-header {
   width: 100vw;
   overflow: auto;
}

#onl-icon {
    height: 5vh;
    width: 5vh;
    float: left;
    margin-right: 1vh;
}

#onl-metatitle {
    float: left;
}

#title {
  font-size: 20px;
  font-weight: 100;
  color: white;
}
#title div.large, #title span.large {
  font-size: 28px;
}

footer {
  font-size: 16px;
  color: #777;
}

#onl-buttons {
      float: right;
      margin-right: 5vw;
}

#post-data, #github {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    padding: 0px 5px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

#post-data:hover, #github:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}

button {
    background: none repeat scroll 0 0 #3C3F45;
    color: #a3a3a3;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    padding: 5px 10px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

button:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}


.slick-headerrow {
  background: #26292E;
}

.slick-row.ui-state-active {
  background: #46494E;
}

.slick-row {
  background: #26292E;
}

.slick-row:hover{
    background: none repeat scroll 0 0 #555;
}

.slick-row.selected {
  z-index: 10;
  background: #DFE8F6;
}

.slick-cell {
  color: white;
}

.ui-widget-content a {
    color: #fff;
}

.introjs-tooltip {
  width: 40vw;
  color: #26292E;
}

.popupContainer {
        position: absolute;
        width: 60vw;
        height: 60vh;
        left: 20vw;
        top: 20vh;
        background: #404144;
        z-index: 100;
}

/* Popup Styles*/

.popupHeader {
        font-size: 16px;
        text-transform: uppercase;
}

.popupHeader {
        background: #424448;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
        color: #aaa;
}

.popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #26292E;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
}

.csvarea {
        padding: 20px;
}

#csv {
    width: 100%;
    height: 40vh;
    overflow: auto;
    background-color: black;
    color: white;
}

.clippybtn {
    background-color: #26292E;
}
